body{
    margin: 0;
}
.header{
    background: #ffffff;
    padding: 20px;
    
}
.header img{
    width: 100%;
    height: auto;
}
.header-title{
    margin-top: 0;
}
.header-nav{
    position: relative;
    padding: 10px;
    margin: 20px 0;
    text-align: center;
    width: 100%;
    background: lightcoral;
}
.header-nav a{
    
    padding: 0 10px;
    text-decoration: none;
    
}
.header-nav a:hover{
    text-decoration: underline;
}


.main{
    background: lightgrey;
    padding: 20px;
}
.footer{
    background: grey;
    padding: 10px 20px;
}
